<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../script/jquery-2.1.0.js" ></script>
    <script src="../script/expando.js" ></script>
    <script src="../script/income-control.js" ></script>
    <link rel="stylesheet" href="../css/expando.css">
</head>
<body>
    <div class="messagepop pop">
        <div id="loadexpando">This will use the CSS background</div>
     <!--   <income-component></income-component>-->
    </div>
    
    <a href="./IncomeService.htm" id="contact">Income View</a>
</body>
</html>