<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../script/constants.js"></script>
    <script src="../script/jquery-3.4.1.js"></script>
    <script src="../script/expando.js" ></script>
    <script src="../script/income-control-advance.js"></script>
    <link rel="stylesheet" href="../css/expando.css">
</head>
<body>
    <div class="messagepop pop">
        <income-component></income-component>
    </div>
    
    <a href="/contact" id="contact">Contact Us</a>
</body>
</html>