<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/menu.css" rel="stylesheet" />
</head>
<body>

    <h1>Integrating Web Content</h1>

    <div class="vertical-menu">
        <b class="active">Approch 1 - Download the UI and the Consumer side and work localy</b>
        <a href="iframeDynamicLocal.htm">Iframe dynamic local Conent</a>
        <a href="webContainerIntro.htm">Web Container Sample</a>
        <a href="expandolocal.htm">Local Expando</a>
        <a href="popup_local.htm">Local Popup</a>
        <a href="shadow_static.html">Static Shadow</a>
        <hr />
        <b class="active">Approch 2 - Interact with the Web Server and App Server</b>
        <a href="iframe_integrated.htm">Integrated Iframe with out WebAPI call</a>
        <a href="expando_integrated.htm">Integrated Expando</a>
        <a href="popup_intgrated.htm">Integrated Popup with WebAPI call</a>
        <a href="popup_integrated_full.htm">Integrated Popup including API call, model rendering server</a>
        <hr />
        <a href="popup_integrated_full_client.htm">Integrated Popup including API, model rendering client</a>
        <hr />
        <b class="active">Theme - Based on Application</b>
        <a href="expando_integrated_theme1.htm">Application - 1</a>
        <a href="expando_integrated_theme2.htm">Application - 2</a>
    </div>

</body>
</html>