<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../script/constants.js"></script>
    <script src="../script/jquery-3.4.1.js"></script>
    <script src="../script/modelPopuplocal.js"></script>
</head>
<body>
    <div>
        <a id="OpenDialog" href="#">Click here to open Income Service</a>
        <div id="dialog" title="Dialog Title">
            <br />
            <br />
            <br />
            <h1>Place all the exsiting conent here...</h1>
        </div>
    </div>
</body>
</html>