<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://localhost:50701/Scripts/jquery-3.4.1.min.js"></script>-->
    <script src="../script/constants.js"></script>
    <script src="../script/jquery-3.4.1.js"></script>
    <script src="../script/modelPopupintegratedClient.js"></script>
    <link rel="stylesheet" href="../css/popup.css">
</head>
<body>
    <div>
        <a id="OpenDialog" href="#">Click here to open Income Service</a>
        <div id="dialog" title="Dialog Title">
            <br />
            <br />
            <br />
            <h1>Place all the exsiting conent here...</h1>
        </div>
    </div>
</body>
</html>