<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Micro App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.2.10/webcomponents-bundle.js"></script>
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.2.10/custom-elements-es5-adapter.js"></script>
    <script src="../script/income-control.js"></script>
    <TITLE></TITLE>
</head>
<BODY>
    <income-component></income-component>

</BODY>
</html>
