
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Income Page</h1>
    <p class="lead">Plase answers to the bellow questions.</p>
    <div class="incomeContainer">
    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/icome/constants.js"></script>
<script src="~/Scripts/icome/incomeLoaded.js"></script>