
@{
    ViewBag.Title = "StaticContent";
}

<div class="jumbotron">
    <h1>Income Page</h1>
    <p class="lead">Plase answers to the bellow questions.</p>

    <ul>
        <li>First Question<ol><li>1</li><li>2</li></ol></li>
        <li>Second Question<ol><li>1</li><li>2</li></ol></li>
        <li>Third Question<ol><li>1</li><li>2</li></ol></li>
    </ul>
</div>

